{% extends "::layout/layout.html.twig" %}

{% block body %}
<div class="section no-pad-bot " id="index-banner" style="padding-top:80px" >
    <div class="  full-width z-depth-2">
        <div class="row center">
            <div class="col m12 back-img white">
                <div>
                    
                    <div class="col m12">

                    <h4 class="gray marg-top bold">Vos retours</h4>
                    <table class="striped">
                    <thead>
                    <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Email</th>
                    <th>Téléphone</th>
                    <th>sujet</th>
                    <th>message</th>
                    </tr>
                    </thead>

            <tbody>
        {% for enquiry in enquiries %}
            {% if app.user.id == enquiry.author %}     
 
            
          <tr>
            <td>{{ enquiry.firstname }}</td>
            <td>{{ enquiry.lastname }}</td>
            <td>{{ enquiry.email }}</td>
            <td>{{ enquiry.phone }}</td>
            <td>{{ enquiry.subject}}</td>
            <td>{{ enquiry.message }}</td>
          </tr>

            {% endif %}
        {% endfor %}
                </tbody>
      </table>
</div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}