{% extends "::layout/layout.html.twig" %}
{% block body %}
<section class="parallax-container index">
    <div class="parallax z-depth-2">
        <img class="img-back " src="https://images.unsplash.com/photo-1423655156442-ccc11daa4e99?crop=entropy&dpr=2&fit=crop&fm=jpg&h=750&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1450">
    </div>
</section>
<div class="container ">
    <div class="row">
        <div class="col s12 center position-perso">
        <a class="" href="#modal1">	<img src="{{ asset('img/picto/play-button.png') }}" class="picto-w"></a>
    </div>
</div>
</div>
<div class="section no-pad-bot" id="index-banner">
    <div class=" white  full-width margin-top z-depth-2">
        <div class="row center">
            <div class="col m6 back-img chercher ">
                <div>
                    <h4 class="color-a-fixe">Vous chercher a recruter </h4>
                    <span class="color-a-fixe">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis consectetur felis at lacinia. Nullam sagittis erat turpis. Quisque orci dolor, euismod eu magna quis, sollicitudin dignissim ex. </span>
                    <div><img class="picto-recherche" src="{{ asset('img/picto/001-worker.png') }}"></div>
                    <a href="#!"><h2 class="bouton waves-effect waves-green">Inscription </h2></a>
                </div>
            </div><div class="col m6 back-img offre">
                <div class="center">
                    <h4 class="color-a-fixe">Vous ete a la recherche d'un emploi </h4>
                    <span class="color-a-fixe">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis consectetur felis at lacinia. Nullam sagittis erat turpis. Quisque orci dolor, euismod eu magna quis, sollicitudin dignissim ex. </span>
                    <div><img class="picto-recherche" src="{{ asset('img/picto/002-collaboration.png') }}"></div>
                    <a href="#!"><h2 class="bouton waves-effect waves-green">Inscription </h2></a>
                </div>
            </div>
        </div>

    </div>

    <div class="content">
        <div class="row">
            <div class="col s12 m6 l3 bottom">
                <div class=" carrer hoverable z-depth-2 center-align white">
                    <img class="taille-p" src="{{ asset('img/picto/Confidentielite.png') }}">
                    <h3>
                        Confidentialité
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin interdum lacinia risus, at suscipit arcu consectetur eget. Nulla consectetur mauris eget lobortis laoreet.
                    </p>
                </div>
            </div>
            <div class="col s12 m6 l3 bottom">
                <div class=" carrer hoverable z-depth-2 center-align white">
                    <img class="taille-p" src="{{ asset('img/picto/engagement.png') }}">
                    <h3 class="">
                        Engagement
                    </h3>
                    <p class="">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin interdum lacinia risus, at suscipit arcu consectetur eget. Nulla consectetur mauris eget lobortis laoreet.
                    </p>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="carrer hoverable z-depth-2 center-align white">
                    <img class="taille-p" src="{{ asset('img/picto/excellence.png') }}">
                    <h3>
                        Excellence
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin interdum lacinia risus, at suscipit arcu consectetur eget. Nulla consectetur mauris eget lobortis laoreet.
                    </p>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="carrer hoverable z-depth-2 center-align white">
                    <img class="taille-p" src="{{ asset('img/picto/transparence.png') }}">
                    <h3 class="">
                        Transparence
                    </h3>
                    <p class="">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin interdum lacinia risus, at suscipit arcu consectetur eget. Nulla consectetur mauris eget lobortis laoreet.
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>



<div class="row padd-bolt color-black z-depth-2">
    <div class="col l5ths ">
        <div class="col m8 margin-stat">
            <div class="col m12 padd ">
                <i class="small material-icons right">
                    location_on
                </i>
            </div>
            <div class="col m12 padd">
        <span class="right">
          implantations
        </span>
            </div>
        </div>
        <div class="col m4 padd">
            <blockquote class="font-size left bold" id="implantations">
                2
            </blockquote>
        </div>
    </div>
    <div class="col l5ths ">
        <div class="col m8 margin-stat">
            <div class="col m12 padd">
                <i class="small material-icons right">
                    contacts
                </i>
            </div>
            <div class="col m12 padd">
        <span class="right">
          Collaborateurs
        </span>
            </div>
        </div>
        <div class="col m4 padd">
            <blockquote class="font-size left bold" id="Collaborateurs">
                27
            </blockquote>
        </div>
    </div>
    <div class="col l5ths ">
        <div class="col m8 margin-stat">
            <div class="col m12 padd">
                <i class="small material-icons right">
                    account_circle
                </i>
            </div>
            <div class="col m12 padd">
        <span class="right">
          Clients
        </span>
            </div>
        </div>
        <div class="col m4 padd">
            <blockquote class="font-size left bold" id="clients">
                137
            </blockquote>
        </div>
    </div>
    <div class="col l5ths ">
        <div class="col m8 margin-stat">
            <div class="col m12 padd">
                <i class="small material-icons right">
                    my_location
                </i>
            </div>
            <div class="col m12 padd">
        <span class="right">
          Missions
        </span>
            </div>
        </div>
        <div class="col m4 padd">
            <blockquote class="font-size left bold" id="missions">
                385
            </blockquote>
        </div>
    </div>
    <div class="col l5ths">
        <div class="col m8 margin-stat">
            <div class="col m12 padd">
                <i class="small material-icons right">
                    supervisor_account
                </i>
            </div>
            <div class="col m12 padd">
        <span class="right">
          Entretiens
        </span>
            </div>
        </div>
        <div class="col m4 padd">
            <blockquote class="font-size left bold" id="entretiens">
                6235
            </blockquote>
        </div>
    </div>
</div>


<div class="section no-pad-bot " id="index-banner">
    <div class="  full-width z-depth-2">
        <div class="row center">
            <div class="col m12 back-img white-op">
                <div>
                    <h4 class="gray marg-top bold">Qui somme nous </h4>
                    <div class="col m1 l2"></div>
                    <span class="gray col m10 l8 justify"> <b>Rheinbrücke Consulting</b> est un Cabinet de Conseil en Recrutement qui vous accompagne depuis 5 ans dans la recherche et la sélection de profils clés, qui feront le <b>succès et la performance </b>de votre entreprise de demain.
            <br><br>
            La relation que développe Rheinbrücke Consulting avec ses clients est fondée sur la <b>confiance et la confidentialité</b>. Fiers de l’éthique que nous nous attachons à conserver, nous menons à bien nos missions dans le respect de nos clients et de nos candidats.
            <br><br>
            Nous vous proposons des <b>solutions sur-mesure</b> en matière de recrutement de cadres dirigeants, cadres supérieurs et cadres intermédiaires. </span>
                    <div class="col m1 l2"></div>

                    <a href="#!"><h5 class="bouton3 waves-effect waves-green">En savoir plus </h5></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <video controls poster="https://images.unsplash.com/photo-1423655156442-ccc11daa4e99?crop=entropy&dpr=2&fit=crop&fm=jpg&h=750&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1450" id="bgvid" playsinline  muted loop> <!--ton image de charement-->
            <source src="{{ asset('video/video.mp4') }}" type="video/mp4">
        </video>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Fermer</a>
    </div>
</div>

<div class="section no-pad-bot " id="index-banner">
    <div class="  full-width z-depth-2">
        <div class="row center">
            <div class="col m12 back-img white">
                <div>
                    <h4 class="gray marg-top bold">Notre équipes </h4>
                    <div class="col m12">
                        <div class="col m4">
                            <div class="col m12">
                                <img class="materialboxed z-depth-2 equipe circle img-center" data-caption="Nom prénom fonction" width="250" src="{{ asset('img/ANONYMAT-DU-WEB-.jpg') }}">
                            </div>
                            <div class="col m12 marg">
                                <span class="bold">Nom Prénom</span>
                            </div>
                            <div class="col m12">
                                <span class="italic">Fonction</span>
                            </div>
                            <div class="col m12">
                                <a href="#!"> <img class="picto-in" src="{{ asset('img/picto/linkedin-letters.png') }}"> </a>
                                <a href="#!"> <img class="picto-mail" src="{{ asset ('img/picto/mail.png') }}"> </a>
                            </div>
                        </div>
                        <div class="col m4">
                            <div class="col m12">
                                <img class="materialboxed z-depth-2 equipe circle img-center" data-caption="Nom prénom fonction" width="250"  src="{{ asset('img/ANONYMAT-DU-WEB-.jpg') }}">
                            </div>
                            <div class="col m12 marg">
                                <span class="bold">Nom Prénom</span>
                            </div>
                            <div class="col m12">
                                <span class="italic">Fonction</span>
                            </div>
                            <div class="col m12">
                                <a href="#!"> <img class="picto-in" src="{{ asset('img/picto/linkedin-letters.png') }}"> </a>
                                <a href="#!"> <img class="picto-mail" src="{{ asset ('img/picto/mail.png') }}"> </a>
                            </div>
                        </div>
                        <div class="col m4">
                            <div class="col m12">
                                <img class="materialboxed z-depth-2 equipe circle img-center" data-caption="Nom prénom fonction" width="250"  src="{{ asset('img/ANONYMAT-DU-WEB-.jpg') }}">
                            </div>
                            <div class="col m12 marg">
                                <span class="bold">Nom Prénom</span>
                            </div>
                            <div class="col m12">
                                <span class="italic">Fonction</span>
                            </div>
                            <div class="col m12">
                                <a href="#!"> <img class="picto-in" src="{{ asset('img/picto/linkedin-letters.png') }}"> </a>
                                <a href="#!"> <img class="picto-mail" src="{{ asset ('img/picto/mail.png') }}"> </a>
                            </div>
                        </div>
                        <div class="col m12 marg-bottom"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    {% block javascripts %}
<script type="text/javascript">

    $(function() {
        var header = $(".color-nav-perso");
        var colora = $(".color-a");
        $(window).scroll(function() {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                header.removeClass('color-nav-perso').addClass("color-nav-perso-fixe")
                colora.removeClass('color-a').addClass("color-a-fixe");
            } else {
                colora.removeClass("color-a-fixe").addClass('color-a')
                header.removeClass("color-nav-perso-fixe").addClass('color-nav-perso');
            }
        });
    });




    $(window).scroll(startCounter);
    function startCounter() {
        if ($(window).scrollTop() > 800) {
            $(window).off("scroll", startCounter);
            $('#entretiens').each(function () {
                var $this = $(this);
                jQuery({ Counter: 0 }).animate({ Counter: $this.text() }, {
                    duration: 2000,
                    easing: 'swing',
                    step: function () {
                        $this.text(Math.ceil(this.Counter));
                    }
                });
            });
            $('#implantations').each(function () {
                var $this = $(this);
                jQuery({ Counter: 0 }).animate({ Counter: $this.text() }, {
                    duration: 400,
                    easing: 'swing',
                    step: function () {
                        $this.text(Math.ceil(this.Counter));
                    }
                });
            });
            $('#Collaborateurs').each(function () {
                var $this = $(this);
                jQuery({ Counter: 0 }).animate({ Counter: $this.text() }, {
                    duration: 2400,
                    easing: 'swing',
                    step: function () {
                        $this.text(Math.ceil(this.Counter));
                    }
                });
            });
            $('#clients').each(function () {
                var $this = $(this);
                jQuery({ Counter: 0 }).animate({ Counter: $this.text() }, {
                    duration: 2600,
                    easing: 'swing',
                    step: function () {
                        $this.text(Math.ceil(this.Counter));
                    }
                });
            });
            $('#missions').each(function () {
                var $this = $(this);
                jQuery({ Counter: 0 }).animate({ Counter: $this.text() }, {
                    duration: 2900,
                    easing: 'swing',
                    step: function () {
                        $this.text(Math.ceil(this.Counter));
                    }
                });
            });
        }
    }
    $(document).ready(function(){
        $('.modal').modal(),
            $('.parallax').parallax();
    });

</script>
    {% endblock %}
{% endblock %}

