{% trans_default_domain 'FOSUserBundle' %}
{% if type != 'candidat' %}
    <p> Inscription D'entreprise </p>
    <form action="{{ path('fos_user_registration_register',{'type' : type }) }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="{{ 'registration.submit'|trans }}" />
        </div>
    </form>
    {% else  %}
        <p> Inscription Particulier </p>
        <form action="{{ path('fos_user_registration_register',{'type' : type }) }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
            {{ form_widget(form) }}
            <div>
                <input type="submit" value="{{ 'registration.submit'|trans }}" />
            </div>
        </form>
        {% endif %}

{#{{ app.request.attributes.get('_route_params') }}#}
{#{{ dump() }}#}