{#{% extends "FOSUserBundle::layout.html.twig" %}#}

{% block fos_user_content %}
    {% trans_default_domain 'FOSUserBundle' %}
    {% block stylesheets %}
        <link href="{{ asset('css/style-resplog.css') }}" rel="stylesheet">
    {% endblock %}
    {% if app.request.get('_route') == 'entreprise_registration' %}
        <div class="background-img">
        <div class="containerperso marg-center z-depth-2">
            <div class="section">
                <div class="row">
                    <h4 class="center degrade2 ">Inscription Entreprise</h4>
                    <form action="{{ path('entreprise_registration') }}" {{ form_enctype(form) }} method="POST">
                     {#{{ form_start(form) }}#}

                        <div class="input-field col s6">
                            <i class="material-icons prefix degrade4">email</i>
                            {{ form_widget(form.email) }}
                            <label for="email" data-error="wrong" data-success="right">Email</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix degrade4">vpn_key</i>
                            {{ form_widget(form.plainPassword.first) }}
                            <label for="icon_prefix ">Mot de passe</label>
                        </div>

                        <div class="input-field col s6">
                            <i class="material-icons prefix degrade4">vpn_key</i>
                            {{ form_widget(form.plainPassword.second) }}
                            <label for="icon_prefix ">Confirmation Mot de passe</label>
                        </div>

                        <div class="input-field col s6">
                            <i class="material-icons prefix degrade4">info</i>
                            {{ form_widget(form.nomEntreprise) }}
                            <label for="email" data-error="wrong" data-success="right">Nom de l'entreprise</label>
                        </div>

                        <div class="input-field col s6">
                            <i class="material-icons prefix degrade4">info</i>
                            {{ form_widget(form.secteur) }}
                            <label for="icon_prefix ">Secteur d'activité</label>
                        </div>

                        <div class="input-field col s6">
                            <i class="material-icons prefix degrade4">account_circle</i>
                            {{ form_widget(form.nomInterlocuteur) }}
                            <label for="email" data-error="wrong" data-success="right">Nom de l'interlocuteur</label>
                        </div>

                        <div class="input-field col s6">
                            <i class="material-icons prefix degrade4">info</i>
                            {{ form_widget(form.positionInterlocuteur) }}
                            <label for="icon_prefix ">Position de l'interlocuteur</label>
                        </div>

                        <div class="input-field col s6">
                            <i class="material-icons prefix degrade4">markunread_mailbox</i>
                            {{ form_widget(form.adresse) }}
                            <label for="email" data-error="wrong" data-success="right">Adresse</label>
                        </div>

                        <div class="input-field col s6">
                            <i class="material-icons prefix degrade4">markunread_mailbox</i>
                            {{ form_widget(form.codePostal) }}
                            <label for="icon_prefix ">Code postal</label>
                        </div>

                        <h6 class="center degrade2 ">Pourquoi contactez vous Rheinbrucke ?</h6>

                        <div class="input-field col s12">
                            <i class="material-icons prefix">mode_edit</i>
                            {{ form_widget(form.message) }}
                            <label for="icon_prefix2">Votre message</label>
                        </div>
                        {{ form_row(form._token) }}
                        <button class="marg-center2 btn waves-effect waves-light degrade3 z-depth-2" type="submit"  name="submit">
                            s'inscrire
                            <i class="material-icons right">send</i>
                        </button>
                        {#{{ form_end(form) }}#}
                    </form>
                </div>

            </div>
        </div>
    {% else %}
        <div class="background-img">
        <div class="containerperso marg-center z-depth-2">
            <div class="section">
                <div class="row">
                    <h4 class="center degrade2 ">Inscription Candidat</h4>
        <form action="{{ path('candidat_registration') }}" {{ form_enctype(form) }} method="POST">

            <div class="input-field col s6">
                <i class="material-icons prefix degrade4">email</i>
                {{ form_widget(form.email) }}
                <label for="email" data-error="wrong" data-success="right">Email</label>
            </div>

            <div class="input-field col s6">
                <i class="material-icons prefix degrade4">vpn_key</i>
                {{ form_widget(form.plainPassword.first) }}
                <label for="icon_prefix ">Mot de passe</label>
            </div>

            <div class="input-field col s6">
                <i class="material-icons prefix degrade4">vpn_key</i>
                {{ form_widget(form.plainPassword.second) }}
                <label for="icon_prefix ">Mot de passe</label>
            </div>

            <div class="input-field col s6">
                <i class="material-icons prefix degrade4">account_circle</i>
                {{ form_widget(form.nom) }}
                <label for="email" data-error="wrong" data-success="right">Nom</label>
            </div>

            <div class="input-field col s6">
                <i class="material-icons prefix degrade4">account_circle</i>
                {{ form_widget(form.prenom) }}
                <label for="icon_prefix ">Prénom</label>
            </div>

            <div class="input-field col s6">
                <i class="material-icons prefix degrade4">phone</i>
                {{ form_widget(form.phone) }}
                <label for="email" data-error="wrong" data-success="right">N° tél</label>
            </div>

            <div class="input-field col s6">
                <i class="material-icons prefix degrade4">info</i>
                {{ form_widget(form.metier) }}
                <label for="icon_prefix ">corps de métier</label>
            </div>

            <div class="input-field col s6">
                <i class="material-icons prefix degrade4">markunread_mailbox</i>
                {{ form_widget(form.adresse) }}
                <label for="email" data-error="wrong" data-success="right">Adresse</label>
            </div>

            <div class="input-field col s6">
                <i class="material-icons prefix degrade4">markunread_mailbox</i>
                {{ form_widget(form.codePostal) }}
                <label for="icon_prefix ">Code postal</label>
            </div>

            <div class="input-field col s12">
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>joindre un fichier</span>
                            <input type="file">
                        </div>
                        <div class="file-path-wrapper">
                            {{ form_widget(form.media) }}
                        </div>
                    </div>
                {{ form_row(form._token) }}
                <button class="marg-center2 btn waves-effect waves-light degrade3 z-depth-2" type="submit" name="action">s'inscrire
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
                </div>
            </div>
    {% endif %}


{% endblock fos_user_content %}