{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    {% trans_default_domain 'FOSUserBundle' %}

    {% if app.request.get('_route') == 'entreprise_registration' %}
    <p>entreprise</p>
        <form action="{{ path('entreprise_registration') }}" {{ form_enctype(form) }} method="POST">
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="{{ 'registration.submit'|trans }}" />
        </div>
    </form>
    <p>entreprise</p>
    {% else %}
    <p>candidat</p>
        <form action="{{ path('candidat_registration') }}" {{ form_enctype(form) }} method="POST">
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="{{ 'registration.submit'|trans }}" />
        </div>
    </form>
    <p>candidat</p>
    {% endif %}


{% endblock fos_user_content %}