<div class="comments">
	<h4>Commentaire</h4>
    {% if app.user != null %}
        {% for commentaire in comments %}
            {% if commentaire.candidat != null %}
                {{ commentaire.candidat.nom }} {{ commentaire.candidat.prenom }}<br> |
            {% endif %}
            {% if commentaire.entreprise != null %}
                {{ commentaire.entreprise.nomInterlocuteur }}|<br>
                {{ commentaire.entreprise.nomInterlocuteur }} {#{ commentaire.entreprise.prenom }#} |
            {% endif %}
            {{ commentaire.comment }} {{ commentaire.dateComment|date() }}
            {{ commentaire.avis }}
        {% endfor %}
        {% if  commentDone  == 1 %}

			<div class="switch marg-bot">
				<label>
					<i class="material-icons color-green">thumb_up</i>
					<input type="checkbox"  id="check1">
					<span class="lever"></span>
					<i class="material-icons color-red">thumb_down</i>
				</label>
			</div>

			<input class="form-control commentaire" type="text" placeholder="Commentaire" id="{{ offre.id }}" value="{{ value }}">
            {#<div class="comment">#}
			<button class="btn waves-effect waves-teal commentModif" id="{{ offre.id }}">Modifier</button>
        {% else %}
			<div class="switch marg-bot">
				<label>
					<i class="material-icons color-green">thumb_up</i>
					<input type="checkbox"  id="check1">
					<span class="lever"></span>
					<i class="material-icons color-red">thumb_down</i>
				</label>
			</div>

			<input class="form-control commentaire" type="text" placeholder="Commentaire" id="{{ offre.id }}">
            {#<div class="comment">#}
			<button class="btn waves-effect waves-teal comment" id="{{ offre.id }}">Envoyer</button>
        {% endif %}
        {#</div>#}
        {#{% endif %}#}
    {% else %}
        {% for commentaire in comments %}
            {% if commentaire.candidat != null %}
                {{ commentaire.candidat.nom }} {{ commentaire.candidat.prenom }}<br> |
            {% endif %}
            {% if commentaire.entreprise != null %}
                {{ commentaire.entreprise.nomInterlocuteur }}|<br>
                {{ commentaire.entreprise.nomInterlocuteur }} {#{ commentaire.entreprise.prenom }#} |
            {% endif %}
            {{ commentaire.comment }} {{ commentaire.dateComment|date() }}
            {{ commentaire.avis }}
        {% endfor %}
		<div><p>vous n'etes pas connecté</p></div>
    {% endif %}
</div>
<script type="text/javascript">
    $(function(){
        $('.comment').on('click', function()
        {
            if(document.getElementById('check1').checked == true){
                var avis = 'dislike';
            }
            else{
                var avis = 'like';
            }
            var id = $(this).attr("id");
            var commentaire = $(".commentaire").val();
            $.ajax({
                type: "GET",
                dataType: "json",
                url: "{{ path('comment') }}",
                cache: false,
                data: { id: id , comment: commentaire , avis: avis },
                success:function(response){
                    $('.comments').replaceWith(response.classifiedList);
                },
                error:function(response){
                    console.log(response);
                }
            });
        });
    });
</script>
<script type="text/javascript">
    $(function(){
        $('.commentModif').on('click', function()
        {
            if(document.getElementById('check1').checked == true){
                var avis = 'dislike';
            }
            else{
                var avis = 'like';
            }
            var id = $(this).attr("id");
            var commentaire = $(".commentaire").val();
            $.ajax({
                type: "GET",
                dataType: "json",
                url: "{{ path('commentModif') }}",
                cache: false,
                data: { id: id , comment: commentaire , avis: avis },
                success:function(response){
                    $('.comments').replaceWith(response.classifiedList);
                },
                error:function(response){
                    console.log(response);
                }
            });
        });
    });
</script>