{% extends "::layout/layout.html.twig" %}

{% block body %}
    {% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('css/publication.css') }}" />
    {% endblock %}

  <section class="parallax-container parallax-container2 index rbga">
    <div class="parallax z-depth-2 ">
      <img class="img-back " src="https://images.unsplash.com/photo-1423655156442-ccc11daa4e99?crop=entropy&dpr=2&fit=crop&fm=jpg&h=750&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1450">
    </div>

  </section>
  <div class="row ">
   <h3> {{ user.nom }}</h3>
    <h3> {{ user.prenom }}</h3>
    <h3> {{ user.metier }}</h3>
      {{ form_start(form) }}
    <div class="col m6 marg-titre">



      <p class="white-text">{{ form_widget(form.price) }}</p>
      {#<p class="white-text">{{ form_widget(form.date_demande) }}</p>#}
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col s12 m12 l12 white">
        <!--<img class="responsive-img" src="../assets/img/blog3.jpg">-->
        <h4 class="colo-gray">Titre du poste | {{ form_widget(form.location) }}</h4>
          {{ form_end(form) }}
      </div></div></div>
{% endblock %}
