{% extends "::layout/layout.html.twig" %}
{% block stylesheets %}
    <link href="{{ asset('css/gallery-materialize.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/style_custom_offres.css') }}" />
{% endblock %}
{% block body %}

    <!-- Gallery -->
    <div id="portfolio" class="section gray offsetkiwi">
        <div class="container">
            <!-- Dropdown Trigger -->
            <a class='dropdown-button btn' href='#' data-activates='dropdown2'>Filtrer les demandes</a>

            <!-- Dropdown Structure -->
            <ul id='dropdown2' class='dropdown-content'>
                <li><button class="btn waves-effect waves-teal search" value="Strasbourg">Strasbourg</button></li>
                <li><button class="btn waves-effect waves-teal search" value="Paris">Paris</button></li>
                <li><button class="btn waves-effect waves-teal search" value="Allemagne">Allemagne</button></li>
                <li><button class="btn waves-effect waves-teal search" value="Colmar">Colmar</button></li>
                <li><button class="btn waves-effect waves-teal search" value="Urschenheim">Urschenheim</button></li>
                <li><button class="btn waves-effect waves-teal search" value="ALL">ALL</button></li>
            </ul>

            <div class="gallery row">

                <!-- Dropdown Structure -->

                {% for demande in demandes %}
                <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter polygon">
                    <div class="gallery-curve-wrapper">
                        <a class="gallery-cover gray">
                            {#<img class="responsive-img " src="/monbatiment/web{{ asset(demande.media.path) }}" alt="placeholder">#}
                            <a href="{{ path('demande', { 'id': demande.id }) }}"> <img class="responsive-img " src="{{ asset(demande.media.path) }}" alt="placeholder"></a>
                        </a>
                        <div class="gallery-header">
                            <span><a href="{{ path('demande', { 'id': demande.id }) }}">{{ demande.candidat.nom }}</a></span>
                        </div>
                        
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div><!-- /.container -->


    {% block javascripts %}
        <!--<script src="{{ asset ('js/imagesloaded.pkgd.min.js') }}"></script>
        <script src="{{ asset ('js/masonry.pkgd.min.js') }}"></script>
        <script src="{{ asset ('js/color-thief.min.js') }}"></script>
        <script src="{{ asset ('js/galleryExpand.js') }}"></script>
        <script src="{{ asset ('js/init.js') }}"></script>-->

        <script type="text/javascript">
            $(function(){
                $('.search').on('click', function()
                {
                    var comment = $(this).val();
                    $.ajax({
                        type: "GET",
                        dataType: "json",
                        url: "{{ path('searchOffres') }}",
                        cache: false,
                        data: { text: comment},
                        success:function(response){
                            $('.gallery').replaceWith(response.classifiedList);
                        },
                        error:function(response){
                            console.log(response);
                        }
                    });
                });
            });

        </script>
    {% endblock %}

{% endblock %}
